<html xmlns="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org">
    <head>
        <title>Cabañas SyC</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/styleRegistro.css" type="text/css">
        <link rel="stylesheet" href="../css/styleLogin.css" type="text/css">
        <script th:src="@{/js/rutinas.js}"></script>    
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid d-flex align-items-center">
                    <a class="navbar-brand letra-logo ms-2" th:href="@{/}">
                        <img src="../img/Logoxfondo.png" class="logo-size" alt="Logo"/>
                    </a>
                    <li class="nav-item titulos d-flex align-items-center justify-contents-center m-0 p-0">
                        <a class="borderW position-absolute color-titulo acme m-0 p-0">[[#{nav.logo}]]</a>
                        <a class="wave position-absolute color-titulo acme m-0 p-0">[[#{nav.logo}]]</a>
                    </li>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon text-white"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto acme">
                            
                            <li class="nav-item letra-nav mx-3">
                                <a class="nav-link letra-hover" aria-current="page" th:href="@{/}">[[#{nav.inicio}]]</a>
                            </li>
                            <li class="nav-item letra-nav mx-3">
                                <a class="nav-link letra-hover" href="#">[[#{nav.cabanas}]]</a>
                            </li>
                            <li class="nav-item letra-nav mx-3">
                                <a class="nav-link letra-hover" href="#">[[#{nav.toures}]]</a>
                            </li>
                            <li class="nav-item letra-nav mx-3">
                                <a class="nav-link letra-hover" href="#">[[#{nav.contacto}]]</a>
                            </li>
                            <li class="nav-item letra-nav mx-3">
                                <a class="nav-link letra-hover" href="#">[[#{nav.reservar}]]</a>
                            </li>
                            <li class="nav-item dropdown letra-nav ms-3 mt-2 padding-user">
                                <i class="bi bi-person-circle letra-hover nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/login/login}">[[#{iniciar.iniciar}]]</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" th:href="@{/registro/registro}">[[#{iniciar.registrarse}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide bg-image" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/Cabañas noche edit.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/Piscina atardecer edit.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/Rancho y volcan edit.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="../img/Piscina noche edit.png" class="d-block w-100" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2 class=" text-white shadow-white acme text-center justify-contents-center align-items-center mt-5">Instalaciones</h2>
            <div class="container margin-c">
                <div class="row align-items-stretch d-flex flex-row justifty-contents-center">
                    <div class="col-md-6">
                        <div id="carouselExampleCaptions" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../img/Cabañas noche.jpeg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Rusticas</h5>
                                        <p>Nuestra decoración todo de madera te llena de gran calidez.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../img/Cabañas amanecer.jpg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block rounded">
                                        <h5>Comfotables</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../img/cabañas nochesita.jpg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="acme shadow-green text-success">Cabañas</h5>
                        <p class="text-white roboto">En Cabañas SyC, nos enorgullece ofrecer cabañas de madera completamente equipadas que combinan el encanto rústico con la comodidad moderna. Ven a experimentar la auténtica vida en la cabaña y descubre por ti mismo la tranquilidad que ofrecen nuestras cabañas. Ut dictum vitae justo vitae posuere. In commodo, eros sit amet bibendum accumsan, leo erat pellentesque lacus, vulputate rutrum erat tortor nec est. Aliquam sed mauris enim. Nam mauris ligula, condimentum eget odio nec, convallis vestibulum sapien. Cras eu ante sed arcu condimentum interdum non id nisi. Sed velit turpis, sodales eget magna non, blandit volutpat eros. 
                            Praesent mattis, ex et aliquet placerat, libero leo condimentum quam, eget consequat sapien libero vel nunc. Phasellus tristique vulputate dui sit amet auctor. Etiam interdum egestas dignissim. Integer mollis augue id tincidunt mollis. Morbi pulvinar finibus sagittis. Vivamus et porttitor erat.
                            Nulla interdum euismod molestie. Phasellus semper justo nec velit consectetur sodales. Integer mollis feugiat laoreet. Maecenas ultrices mi in dolor imperdiet, eget posuere lorem aliquam. Etiam vel laoreet elit. Quisque eget pulvinar enim, sit amet consequat arcu. Ut id lorem nec nulla pellentesque elementum non sed ipsum. Ut vehicula metus felis, at euismod erat viverra vel.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container mt-5">
                <div class="row align-items-stretch d-flex flex-row justifty-contents-center">
                    <div class="col-md-6">
                        <h5 class="acme shadow-green text-success">Piscina</h5>
                        <p class="text-white roboto">En Cabañas SyC, nos enorgullece ofrecer cabañas de madera completamente equipadas que combinan el encanto rústico con la comodidad moderna. Ven a experimentar la auténtica vida en la cabaña y descubre por ti mismo la tranquilidad que ofrecen nuestras cabañas. Ut dictum vitae justo vitae posuere. In commodo, eros sit amet bibendum accumsan, leo erat pellentesque lacus, vulputate rutrum erat tortor nec est. Aliquam sed mauris enim. Nam mauris ligula, condimentum eget odio nec, convallis vestibulum sapien. Cras eu ante sed arcu condimentum interdum non id nisi. Sed velit turpis, sodales eget magna non, blandit volutpat eros. 
                            Praesent mattis, ex et aliquet placerat, libero leo condimentum quam, eget consequat sapien libero vel nunc. Phasellus tristique vulputate dui sit amet auctor. Etiam interdum egestas dignissim. Integer mollis augue id tincidunt mollis. Morbi pulvinar finibus sagittis. Vivamus et porttitor erat.
                            Nulla interdum euismod molestie. Phasellus semper justo nec velit consectetur sodales. Integer mollis feugiat laoreet. Maecenas ultrices mi in dolor imperdiet, eget posuere lorem aliquam. Etiam vel laoreet elit. Quisque eget pulvinar enim, sit amet consequat arcu. Ut id lorem nec nulla pellentesque elementum non sed ipsum. Ut vehicula metus felis, at euismod erat viverra vel.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div id="carouselpiscina" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselpiscina" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselpiscina" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselpiscina" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../img/Piscina noche.jpeg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Piscina</h5>
                                        <p>Nuestra decoración todo de madera te adentra en la naturaleza</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../img/Piscina atardecer.jpeg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block rounded">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../img/Piscina nochesita.jpeg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselpiscina"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselpiscina"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container mt-5 mb-5">
                <div class="row align-items-stretch d-flex flex-row justifty-contents-center">
                    <div class="col-md-6">
                        <div id="carouselVolcan" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselVolcan" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselVolcan" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselVolcan" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../img/Volcan 1.jpeg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Volcan</h5>
                                        <p>Nuestra decoración todo de madera te adentra en la naturaleza</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../img/Volcansito.jpg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block rounded">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../img/Volcan 2.jpg" class="d-block w-100 rounded" alt="">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselVolcan" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselVolcan" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="acme shadow-green text-success">Vista al volcan</h5>
                        <p class="text-white roboto">En Cabañas SyC, nos enorgullece ofrecer cabañas de madera completamente equipadas que combinan el encanto rústico con la comodidad moderna. Ven a experimentar la auténtica vida en la cabaña y descubre por ti mismo la tranquilidad que ofrecen nuestras cabañas. Ut dictum vitae justo vitae posuere. In commodo, eros sit amet bibendum accumsan, leo erat pellentesque lacus, vulputate rutrum erat tortor nec est. Aliquam sed mauris enim. Nam mauris ligula, condimentum eget odio nec, convallis vestibulum sapien. Cras eu ante sed arcu condimentum interdum non id nisi. Sed velit turpis, sodales eget magna non, blandit volutpat eros. 
                            Praesent mattis, ex et aliquet placerat, libero leo condimentum quam, eget consequat sapien libero vel nunc. Phasellus tristique vulputate dui sit amet auctor. Etiam interdum egestas dignissim. Integer mollis augue id tincidunt mollis. Morbi pulvinar finibus sagittis. Vivamus et porttitor erat.
                            Nulla interdum euismod molestie. Phasellus semper justo nec velit consectetur sodales. Integer mollis feugiat laoreet. Maecenas ultrices mi in dolor imperdiet, eget posuere lorem aliquam. Etiam vel laoreet elit. Quisque eget pulvinar enim, sit amet consequat arcu. Ut id lorem nec nulla pellentesque elementum non sed ipsum. Ut vehicula metus felis, at euismod erat viverra vel.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
