.bg-login{
    background-image: url(../img/Piscina\ nochesita.jpeg);
    background-position: center center;
}

.marginTip-login{
    margin-top: 12%;
}


.form-control-hover-login{
    color: blue;
    font-family: 'Roboto', sans-serif;
    font: bold;
}

.form-control-hover-login:hover{    
    color: black;
    box-shadow: 0 0 15px black;
}